{% extends 'base.html' %}

{% block title %}
    Item page
{% endblock  %}
{% block content %}
    {{ block.super}}
<h2>Название: {{ item.name }}</h2>
<p>Бренд: {{ item.brand }}</p>
{% comment %} {% if item.count > 0 %} {% endcomment %}
<div>
    Количество: {{ item.count | default:"Товар отсутствует" }} 
</div>
<div>
    Описание: {{ item.description}} 
</div>    
{% comment %} {% else %}
<p> товар отсутствует на складе</p>
{% endif %} {% endcomment %}
<br>
<br>
<p><a href="{% url 'items-list'%}"> Назад к списку товаров</a></p>
{% endblock %}